/* Default styles */

.footer {
  background-color: var(--footer-background-color) !important;
}

.tabs_group_footer {
  height: 100%;
  gap: 0 !important;
  display: flex !important;
  justify-content: space-around !important;
}

/* Desktop styles */
@media (min-width: $mantine-breakpoint-md) {

  
}