.catches_page_content_wrapper {
  height: calc(100dvh - var(--app-shell-header-offset));
  /* height: 100dvh; */
}

.input_label {
  --input-label-size: var(--mantine-font-size-md);
  margin-bottom: rem(6);
}

.switch_input_label {
  --label-fz: var(--mantine-font-size-md);
}