/* For light mode */
:root[data-mantine-color-scheme="light"] {
  --mantine-color-body: var(--mantine-color-white) !important;
}
  
/* For dark mode */
:root[data-mantine-color-scheme="dark"] {
  --mantine-color-body: var(--mantine-color-dark-9) !important;
}


/* Global cell styling for ag-grid */
/* .ag-theme-quartz-dark {
  --ag-font-size: 12px !important;
} */

/* .ag-ltr .ag-cell {
  display: flex;
  align-items: center;
}

.ag-cell-value {
  line-height: 20px;
  word-break: normal;
  padding-top: 5px;
  padding-bottom: 5px;
} */