* {
  scrollbar-width: thin;
}

body {
  overflow: hidden;
}

:root {
  --success-notification-color: var(--mantine-color-green-filled);
  --error-notification-color: var(--mantine-color-red-filled);
  --info-notification-color: var(--mantine-color-blue-filled);
  --warning-notification-color: var(--mantine-color-orange-filled);
  --my-fieldset-background-color: #1b1b1b;

  --header-background-color: var(--mantine-color-dark-9);
  --footer-background-color: var(--mantine-color-dark-9);
}

/* For light mode */
:root[data-mantine-color-scheme="light"] {
  --mantine-color-body: var(--mantine-color-white) !important;
}
  
/* For dark mode */
:root[data-mantine-color-scheme="dark"] {
  --mantine-color-body: #0d0d0d !important;
}

.mantine-InputWrapper-root {
  display: flex;
  gap: 4px;
  flex-direction: column;
}

fieldset {
  border: 0 !important;
  border-radius: var(--mantine-radius-lg) !important;
  padding: var(--mantine-spacing-lg) !important;
  background-color: var(--my-fieldset-background-color) !important;
}

.mantine-custom-input:not(:focus):not(:focus-within) {
  border: 1px solid transparent;
}

/* Adjust the notification position to avoid overlapping with the navigation bar */
/* .mantine-Notifications-root[data-position="bottom-right"] {
  bottom: 150px !important;
} */