:root {
  --success-notification-color: var(--mantine-color-green-filled);
  --error-notification-color: var(--mantine-color-red-filled);
  --info-notification-color: var(--mantine-color-blue-filled);
  --warning-notification-color: var(--mantine-color-orange-filled);

  --header-background-color: var(--mantine-color-dark-7);
  --footer-background-color: var(--mantine-color-dark-7);
}


/* For light mode */
:root[data-mantine-color-scheme="light"] {
  --mantine-color-body: var(--mantine-color-white) !important;
}
  
/* For dark mode */
:root[data-mantine-color-scheme="dark"] {
  --mantine-color-body: var(--mantine-color-dark-8) !important;
}