.grid-wrapper {
  height: calc(100dvh - 147.89px - var(--app-shell-footer-offset, 0rem) - var(--app-shell-header-offset, 0rem) - var(--mantine-spacing-md) - env(safe-area-inset-bottom));
  --ag-header-background-color: #1a2536;
  --ag-background-color: #141c2a;

  & .ag-root-wrapper {
    border-radius: var(--mantine-spacing-sm);
    border: none;
  }
}

.ag-ltr .ag-cell {
  display: flex;
  align-items: center;
}

.ag-cell-value {
  line-height: 20px;
  word-break: normal;
  padding-top: 5px;
  padding-bottom: 5px;
}

.ag-ltr .ag-cell-focus {
  border-color: transparent !important;
}

.ag-theme-quartz-dark .ag-header-cell {
  font-size: 14px;
  font-weight: 600;
  padding-right: 0;
}

.ag-theme-quartz-dark .ag-cell {
  font-size: 12px;
  font-weight: 500;
}

.ag-header-cell:not(.ag-floating-filter) {

  & .ag-header-cell-filter-button {
    display: none;
  }

  & .ag-icon-filter {
    display: none;
  }

  & .ag-filter-icon {
    display: none;
  }
}

.ag-ltr .ag-floating-filter-button {
  margin-left: 0;
}

.ag-floating-filter {

  & .ag-floating-filter-body {
    display: none;
  }
}

.ag-paging-panel {
  font-size: 12px;
  justify-content: space-between;

  & .ag-paging-page-summary-panel {
    margin-left: 0;
  }

  & .ag-paging-row-summary-panel {
    display: none;
  }

  & .ag-paging-description span:nth-of-type(1) {
    display: none;
  }
}

/* Desktop styles */
@media (min-width: $mantine-breakpoint-md) {

  .grid-wrapper {
    height: calc(100dvh - 147.89px - var(--app-shell-footer-offset, 0rem) - var(--app-shell-header-offset, 0rem) - var(--mantine-spacing-xl) - env(safe-area-inset-bottom));
  
    & .ag-root-wrapper {
      border-radius: var(--mantine-spacing-sm);
      border: none;
    }
  }

  .ag-paging-panel {
    justify-content: flex-end; 

    & .ag-paging-page-summary-panel {
      margin-left: var(--ag-cell-horizontal-padding);
    }
  
    & .ag-paging-row-summary-panel {
      display: unset;
    }
  
    & .ag-paging-description span:nth-of-type(1) {
      display: unset;
    }
  }

}

@media (max-width: 392px) {

  .ag-paging-panel {
    & .ag-paging-description span:nth-of-type(1) {
      display: none;
    }

    & .ag-paging-description span:nth-of-type(3) {
      display: none;
    }

    & .ag-paging-description span:nth-of-type(4) {
      display: none;
    }
  }

}