.copyButtonTeal:active {
  background-color: rgba(18, 184, 134, 0.35) !important;
}

@media (hover: hover) {
  .copyButtonRed:hover:where(:not([data-loading], :disabled, [data-disabled]))
{
      background-color: rgba(18, 184, 134, 0.35) !important;
  }
}

.copyButtonCyan:active {
  background-color: rgba(21, 170, 191, 0.35) !important;
}

@media (hover: hover) {
  .copyButtonRed:hover:where(:not([data-loading], :disabled, [data-disabled]))
{
      background-color: rgba(21, 170, 191, 0.35) !important;
  }
}

.copyButtonBlue:active {
  background-color: rgba(34, 139, 230, 0.35) !important;
}

@media (hover: hover) {
  .copyButtonRed:hover:where(:not([data-loading], :disabled, [data-disabled]))
{
      background-color: rgba(34, 139, 230, 0.35) !important;
  }
}

.copyButtonRed:active {
  background-color: rgba(250, 82, 82, 0.35) !important;
}

@media (hover: hover) {
  .copyButtonRed:hover:where(:not([data-loading], :disabled, [data-disabled]))
{
      background-color: rgba(250, 82, 82, 0.35) !important;
  }
}

.copyButtonGray:active {
  background-color: rgba(134, 142, 150, 0.35) !important;
}

@media (hover: hover) {
  .copyButtonGray:hover:where(:not([data-loading], :disabled, [data-disabled]))
{
      background-color: rgba(134, 142, 150, 0.35) !important;
  }
}

.scrollContainer {
  overscroll-behavior: none;
}