.badge {
  /* border: 2px solid rgba(255, 255, 255, 0.15); */
  background: 
  linear-gradient(
    90deg,
    var(--mantine-color-blue-light-hover),
    var(--mantine-color-green-light-hover),
    var(--mantine-color-yellow-light-hover),
    var(--mantine-color-orange-light-hover),
    var(--mantine-color-red-light-hover)
  );
  /* background-origin: border-box; */
  /* background-clip: padding-box, border-box; */

  text-wrap: nowrap;
  position: relative;

  & span {
    display: hidden;
  }
}

.badge::before {
  content: attr(data-content); 
  position: relative;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-linear-gradient(
    0deg,
    var(--mantine-color-blue-4), 
    var(--mantine-color-green-4), 
    var(--mantine-color-yellow-4), 
    var(--mantine-color-orange-4),
    var(--mantine-color-red-4)
  ) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent !important;
}

.label {
  overflow: visible;
}