.header {
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-8));
  /* position: fixed; */
}

.logo_title {
  font-size: rem(26) !important;
  font-weight: 900 !important;
  color: var(--mantine-primary-color-5) !important;
  margin-left: var(--mantine-spacing-md) !important;
  letter-spacing: rem(-1) !important;
  display: flex !important;
}

.tabs_group_header {
  height: 100% !important;
  gap: 0 !important;
  justify-content: flex-end !important;
}

/* Desktop styles */
@media (min-width: $mantine-breakpoint-md) {

  .logo_container {
    display: flex !important;
    height: 100% !important;
    align-items: center !important;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
  }
  
  .tabs_group_header {
    justify-content: flex-end !important;
    gap: var(--mantine-spacing-md) !important;
    display: flex !important;
  }

}