.viewport {
  border-radius: var(--mantine-radius-md);
}

.modalTitle {
  font-size: var(--mantine-font-size-lg);
  font-weight: var(--mantine-heading-font-weight);
}

.noScroll {
  overflow: hidden !important;
}

.controls {
  height: 80%;
  top: 0;
}

.control {
  --carousel-control-size: rem(50);
  min-width: 0;
  width: rem(45);
  height: 100%;
  border-radius: 0;
  background-color: transparent;
  border: none;
  opacity: 1;
  box-shadow: none;

  & svg {
    display: none !important;
  }
}