.viewport {
  border-radius: var(--mantine-radius-lg);
}

.modalHeader {
  background-color: var(--mantine-color-dark-8) !important;
  --mb-padding: var(--mantine-spacing-lg);
}

.modalBody {
  background-color: var(--mantine-color-dark-8);
  --mb-padding: var(--mantine-spacing-lg);
}

.modalTitle {
  font-size: var(--mantine-font-size-lg);
  font-weight: var(--mantine-heading-font-weight);
}

.noScroll {
  overflow: hidden !important;
}

.catch_details_fieldset {
  padding: var(--mantine-spacing-md) !important;
}

@media (max-width: $mantine-breakpoint-md) {
  .controls {
    height: 80% !important;
    top: 0 !important;
  }
  
  .control {
    --carousel-control-size: rem(50) !important;
    min-width: 0 !important;
    width: rem(45) !important;
    height: 100% !important;
    border-radius: 0 !important;
    background-color: transparent !important;
    border: none !important;
    opacity: 1 !important;
    box-shadow: none !important;
  
    & svg {
      display: none !important;
    }
  }
}

