/* Default styles (mobile) */
.link {
  width: 15%;
  height: 100%;
}

.tab_button {
  /* width: 25%; */
  width: 100% !important;
  height: 100% !important;
  border: none !important;
  cursor: pointer !important;
  border-bottom: rem(2.5) solid transparent;  /* Transparent border by default */

  &.active {
    z-index: 1;
    /* border-bottom: rem(2.5) solid var(--mantine-primary-color-5); Blue bottom border when active */
    color: var(--mantine-color-white) !important; /* Text color when active */

    .icon {
      color: var(--mantine-primary-color-5) !important; /* Icon color when active */
    }

    .label {
      color: var(--mantine-primary-color-5) !important; /* Label color when active */
    }
  }

  &:active {
    transform: none !important; /* Remove default button press effect */
    background-color: transparent !important;
  }

  &:hover {
    background-color: transparent !important;
  }

  .icon {
    width: rem(32);
    height: rem(32);
    margin-bottom: 0px;
    font-weight: 200;
    stroke-width: 1.5;
    color: var(--mantine-color-gray-5); /* Default icon color */
  }

  .label {
    font-size: rem(10);
    font-weight: 700;
    color: var(--mantine-color-gray-5); /* Default label color */
  }
}

/* Desktop styles */
@media (min-width: $mantine-breakpoint-md) {
  .link {
    /* width: 15%;
    height: 100%; */
    min-width: max-content !important; /* Ensures the element is at least the width of its content */
    width: rem(140) !important; /* Ensures the element is at least 140px or the width of its content, whichever is larger */
  }

  .tab_button {
    width: 100% !important;

    &:hover {
      background-color: transparent !important;
      border-bottom: rem(2.5) solid var(--mantine-primary-color-5) !important; /* Blue bottom border on hover */
    }

    &.active {
      border-bottom: rem(2.5) solid var(--mantine-primary-color-5) !important; /* Blue bottom border when active */

      .label {
        color: var(--mantine-color-white) !important; /* Label color when active */
      }
    }

    .icon_label_container {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: center;
      gap: var(--mantine-spacing-xs);
      padding: 0 var(--mantine-spacing-md);
    }

    .icon {
      width: rem(30);
      height: rem(30);
      margin-bottom: 0px;
      font-weight: 200;
      stroke-width: 1.5;
      color: var(--mantine-color-gray-5); /* Default icon color */
    }

    .label {
      font-size: var(--mantine-font-size-sm);;
      font-weight: 500;
      color: var(--mantine-color-gray-5); /* Default label color */
    }
  }
}
