/* Default styles */

.footer {
  background-color: var(--mantine-color-body);
}

.tabs_group_footer {
  height: 100%;
  gap: 0;
  display: flex;
  justify-content: space-around;
}

/* Desktop styles */
@media (min-width: $mantine-breakpoint-md) {

  
}