/* Default styles */

.footer {
  background-color: light-dark(var(--mantine-color-white), var(--mantine-color-dark-8));
}

.tabs_group_footer {
  height: 100%;
  gap: 0;
  display: flex;
  justify-content: space-around;
}

/* Desktop styles */
@media (min-width: $mantine-breakpoint-md) {

  .footer {
    display: none;
  }
}