.root {
  /* --badge-border-color: rgba(var(--badge-color), 0.2);
  --badge-background: rgba(var(--badge-color), 0.1);
  color: rgb(var(--badge-color)) !important; */
  /* border: 2px solid var(--badge-color) !important; */
  /* background-color: var(--badge-background) !important; */
  box-sizing: content-box;
}

.label {
  overflow: visible;
}